PATH_TO_RAW_SEMEVAL_14_RESTAURANTS_TRAIN_DATA=path/to/your/file.xml
PATH_TO_RAW_SEMEVAL_14_RESTAURANTS_TEST_DATA=path/to/your/file.xml
PATH_TO_RAW_SEMEVAL_14_LAPTOPS_TRAIN_DATA=path/to/your/file.xml
PATH_TO_RAW_SEMEVAL_14_LAPTOPS_TEST_DATA=path/to/your/file.xml
PATH_TO_RAW_SEMEVAL_15_RESTAURANTS_TRAIN_DATA=path/to/your/file.xml
PATH_TO_RAW_SEMEVAL_15_RESTAURANTS_TEST_DATA=path/to/your/file.xml
PATH_TO_RAW_SEMEVAL_16_RESTAURANTS_TRAIN_DATA=path/to/your/file.xml
PATH_TO_RAW_SEMEVAL_16_RESTAURANTS_TEST_DATA=path/to/your/file.xml

PATH_TO_PREPROCESSED_SEMEVAL_14_RESTAURANTS_TRAIN_DATA=path/to/your/file.xml
PATH_TO_PREPROCESSED_SEMEVAL_14_RESTAURANTS_TEST_DATA=path/to/your/file.xml
PATH_TO_PREPROCESSED_SEMEVAL_14_LAPTOPS_TRAIN_DATA=path/to/your/file.xml
PATH_TO_PREPROCESSED_SEMEVAL_14_LAPTOPS_TEST_DATA=path/to/your/file.xml
PATH_TO_PREPROCESSED_SEMEVAL_15_RESTAURANTS_TRAIN_DATA=path/to/your/file.xml
PATH_TO_PREPROCESSED_SEMEVAL_15_RESTAURANTS_TEST_DATA=path/to/your/file.xml
PATH_TO_PREPROCESSED_SEMEVAL_16_RESTAURANTS_TRAIN_DATA=path/to/your/file.xml
PATH_TO_PREPROCESSED_SEMEVAL_16_RESTAURANTS_TEST_DATA=path/to/your/file.xml

PATH_TO_RESTAURANT_ONTOLOGY=path/to/your/ontology.owl